*{
    margin: 0;
    padding: 0;
}
body{

    font-family: "sans-serif";
    background-color: black;

}

.main-div--wrapper{
       background-image: url('../img/1.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    margin-top: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    position: relative;
    }
.main-div--content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
  transform: translate(-50%,-50%);
   
}
.left-div{
    width: 50%;
    float: left;
}
.left-div::after{
    content: '';
    display: block;
    clear: both;
}
.letty{
    font-size: 8vh;
    font-weight: bold;
  
}

.span-shop{
    color:#f6e125;
    font-size: 8vh;
    font-weight: bold;
   
}
.h4-title{
    margin-top: 100px;
}
.left-div h4{
    line-height: 30px;
    font-size: 5vh;
}
.h5-title{
    margin-top: 100px;
}
.h5-title-sec{
    margin-top: 70px;
}

.right-div{
    width: 50%;
    background-color: white;
    color: black;
    float: right;
/*   padding: 15px;*/
    border-radius: 5px;
}
.right-div::after{
    content: '';
    display: inline-block;
    clear: both;
}
.right-div img{
 width: 22px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 15px;
    }
.formclass{
    width: 70%;
    
    
}
.right-div .fa{
    position: absolute;
       top: 7px;
    left: 15px;
    font-size: 3vh;
    color: blue;
}
.right-div img{
    width: 22px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 15px;
   
}
.bresk-all{
    word-break: break-all;
}

.right-div .ip{
    display: block;
    width: 100%;
    border: 1px solid #e4dede;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 15px;
}
.sub-right-div{
    padding: 0px 10px;
    width: 70%;
    margin-bottom: 15px;
}
.grey-color{
    color:grey;
    text-align: center;
}
.margin-left-class{
font-weight: bold;
    font-size: 3vh;
}
.sub-div-block-bottom{
    width: 70%;
}


.right-div .btn{
    border: 2px solid #f8dd56;
    background-color: #ffd91ae6;
    border-radius: 7px;
     padding: 10px 20px;
    width: 100%;
    color: black;
    margin-top: 17px;
   
}

. bresk-all{
    word-break: break-all;
}
 

.block-a{
    display: block;
}
.sub-link-fb{
        text-align: center;
    text-decoration: none;
    color: black;
     display: block;
    width: 100%;
    border: 1px solid #e4dede;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}


.right-div h3{
    margin-top: 10px; 

}
.right-div hr{
    margin-top: 25px;
    margin-bottom: 10px;
    
}
